button {
	background-image: linear-gradient(to top, #9db4e6, #585ee6, #9db4e6); /*фон для кнопки*/
	color: white; /*цвет текста*/
	width: 200px; /*ширина кнопки*/
	height: 50px; /*высота кнопки*/
	font-size: 1.7em; /*размер текста*/
	border-radius: 20px; /*скругление углов*/
	border-width: 6px; /*толщина рамки*/
	border-style: double; /*двойная рамка*/
	border-color: white; /*цвет рамки*/
	box-shadow: 0px 0px 10px #9db4e6; /*тень*/
}