.img { /*параметры изображения*/
	width: 180px;
	height: 200px;
	border: 1px solid rgb(200, 200, 200);
	padding: 10px;
	border-radius: 2px;
	margin-bottom: 7px;
}
.black { /*параметры черного слоя*/
	position: absolute;
	background-color: rgba(40,38,39, 0);
	color: rgba(255,250,250,0);
	text-align: center;
	padding-top: 80px;
	width: 180px;
	height: 120px;
	left: 11px;
	top: 11px;
	transition-duration: 0.2s;
	font-size: 0.9em;

}
.black:hover { /*появление черного слоя при наведении*/
	background-color: rgba(40,38,39, 0.7);
	color: rgba(255,250,250,1);
	cursor: pointer;
}
.det { /*первая кнопка*/
	font-family: sans-serif;
	color: rgb(127, 127, 127);
	float: left;
	background-color: rgb(247, 247, 243);
	border: 1px solid rgb(206, 209, 197);
	border-radius: 5px;
	height: 31px;
	width: 87px;
	outline: none;
	transition-duration: 0.2s;
}
.live { /*вторая кнопка*/
	font-family: sans-serif;
	color: rgb(127, 127, 127);
	float: right;
	background-color: rgb(247, 247, 243);
	border: 1px solid rgb(206, 209, 197);
	border-radius: 5px;
	height: 31px;
	width: 103px;
	outline: none;
	transition-duration: 0.2s;
}
.det:hover { /*при наведении на 1 кнопку*/
	cursor: pointer;
	background-color: rgb(135,200,59);
	color: white;
}
.det:active { /*при нажатии на 1 кнопку*/
	box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
.live:hover { /*при наведении на 2 кнопку*/
	cursor: pointer;
	background-color: rgb(135,200,59);
	color: white;
}
.live:active { /*при нажатии на 2 кнопку*/
	box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

h1 { /*заголовки*/
	clear:both;
	font-size: 1.5em;
}
.one_text {
	display: inline;
	color:rgb(134, 158, 162);
	opacity: 0;
	transition-duration: 0.2s;
}
.two_text{
	display: inline;
	color:rgb(137, 202, 58);
	opacity: 0;
	transition-duration: 0.2s;
}
.black:hover p {
	opacity: 1;
}

/*выравнивание методом FLOAT*/
.block {
	float: left;
	width: 202px;
	position: relative;
	margin: 10px;
	padding-bottom: 20px;
}

.float> .block:nth-child(3n+4) {
	clear: left;	
}

/*выравнивание методом INLINE BOX*/
.block_2 {
	display: inline-block;
	width: 202px;
	position: relative;
	margin: 10px;
	padding-bottom: 20px;
}
.inline_box {
	width: 700px;
}

/*выравнивание методом FLEX BOX*/
.block_3 {
	width: 202px;
	position: relative;
	margin: 10px;
	padding-bottom: 20px;
}
.flex_box {
	display: flex;
	flex-wrap: wrap;
	width: 700px;
}
