body {
	background-image: url(fon.png); /*задаю фон*/
	font-family: 'Arial'; /*шрифт*/
	text-align: center; /*все по центру*/
}
button {
	width: 100px; /*ширина*/
	height: 100px; /*высота*/
	background-color: rgb(52,152,219); /*голубой фон*/
	color: white; /*цвет текста*/
	font-size: 1.2em; /*размер текста*/
	transition-duration: 0.5s; /*время анимации*/
	border: 2px white solid; /*белая тонкая рамочка вокруг*/
	margin: 3px; /*отступы между блоками*/
}
h1{
	margin: auto; /*выравниваю заголовок*/
	max-width: 30%; /*задаю максимальную ширину для переноса текста*/
	
}
h1:hover:before,h1:hover:after {
	font-size: 0.5em; /*уменьшаем дополнителньный текст*/
	font-style: Italic; /*наклонный*/
}
h1:hover:before{content:"some ";}
h1:hover:after{content:" by Titov Dmitry";}
div:hover {
	cursor: pointer; /*смена курсора*/
	content: "123";
}

#highlight:hover {
	background-color: white; /*смена цвета фона*/
	color: rgb(52,152,219);	 /*смена цвета текста*/
}
#fade:hover {
	opacity: 0; /*прозрачность на 100%*/
}
#boom:hover {
	transform: scale(2,2); /*растягиваем*/
	opacity: 0; /*прозрачность на 100%*/
}
#focus:hover {
	border-width: 20px;
}
#rotate:hover {
	transform: rotate(90deg); /*поворачиваем на 90 градусов*/
}
#knit:hover {
    height: 0px; /*схлопывание*/
	line-height: 0px; /*что бы текст не убегал*/
}
#shrink:hover {
	transform: scale(0, 0); /*уменьшение до 0*/
}
#squeeze:hover {
	transform: scale(1.3, 0);/*трансформация*/
}
#deform:hover {
	transform: skew(45deg, 45deg);/*растягивание по диагонале*/
}