* {
	font-family: sans-serif;
}

.head {
	font-size: 1.5em;
	background: linear-gradient(to top, #ffc800, yellow, #ffc800);
	width: 700px;
	padding: 10px; 
	border: 1px solid gray;
	border-bottom-color: transparent;
}
.head:before {
	content: ''; 
	position: absolute;
	border: 20px solid transparent;
	border-top-color: #ffc800;
	top: 63px;
	left: 20px;
}
.text {
	margin-top: -17px;
	width: 700px;
	padding: 20px 10px 10px 10px;
	border: 1px solid gray;
	border-top-color: transparent;
}
@media screen and (max-width:700px) {
	.head {
		width: 100%;
	}
	.text {
		width: 100%;
	}
}