iframe {
	width: 1000px;
	height: 350px;
	border: 0;
    scrolling="no";
}
table {
	margin: auto;
	width: 1000px;
	vertical-align: top;
}
.table_2 {
	margin: auto;
	width: 990px;
	height: 100%;
}
.logo {
	width: 30%;
	text-align: left;
}
.menu_1 {
    width: 70%;
	text-align: left;
	padding: 20pt;
}
.main {
	width: 70%;
	text-align: left;
	height: 350px;
}
.down {
	text-align: center;
}
.menu_2 {
	width: 20%;
	text-align: left;
	vertical-align: top;
}
.text {
	background: #E8EAF5;
	vertical-align: top;
}
html {
	overflow:  hidden;
}
.iframe_2 {
	width: 800px;
}