* {
	font-family: sans-serif;
}
.caption {
	color: #8863d1;
	background-color: #a68bdd;
	border-radius: 10px;
	border-top-left-radius: 0px;
	padding: 10px;
	width: 730px;
	margin-top: 50px;
}
.caption:before {
    content: 'Caption'; 
    position: absolute;
	top: 13px;
	left: 8px;
    background-color: #a68bdd;
	color: #8863d1;
	padding: 10px;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	box-shadow: inset 0px 0px 2px 2px;
   }