.title {
	width: 300px;
	font-size: 180%;
	font-weight: bold;
	background-color: #569099;
	margin: 10px;
	padding: 10px;
	color: white;
}
.text {
	width: 300px;
	font-size: 95%;
	background-color: #cad8d0;
	margin: 10px;
	padding: 10px;
}