#now_reading:before {
	font-family: smile;
	font-size: 1em;
	content: "\f02d";	
}
#browse:before {
	font-family: smile;
	font-size: 1em;
	content: "\f0ac";
}
#buy_books:before {
	font-family: smile;
	font-size: 1em;
	content: "\f07a";	
}
#favorite_books:before{
	font-family: smile;
	font-size: 1em;
	content: "\f005";	
}
#wishlist:before {
	font-family: smile;
	font-size: 1em;
	content: "\f00b";	
}
#history:before {
	font-family: smile;
	font-size: 1em;
	content: "\f017";	
}
#must_read:before {
	font-family: smile;
	color: #e64c66;
	font-size: 0.5em;
	content: "\f111";	
}
#best:before {
	font-family: smile;
	color: #ffab00;
	font-size: 0.5em;
	content: "\f111";	
}
#classic:before {
	font-family: smile;
	color: #00bfdd;
	font-size: 0.5em;
	content: "\f111";	
}
#non_fiction:before {
	font-family: smile;
	color: #7874cf;
	font-size: 0.5em;
	content: "\f111";	
}
/*маркированный список для новостей*/
.time{
	color: #6f7d95;
	font-size: 0.8em;
	line-height: 1.5;
	list-style-image: url(covers_of_books/time.png);
	width: 90%;
}
.time_2 {
	font-size: 0.75em;
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
	color: #6f7d95;
	list-style-type: none;
}
em {
	color: #97b3ce;
	font-style: normal;
}
/*звезды*/
	.star_1:before {
		font-family: smile;
		font-style: normal;
		color: #ffab00;
		content: "\f005";
	}
	.star_05:before {
		font-family: smile;
		font-style: normal;
		color: #ffab00;
		content: "\f123";
	}
	.star_0:before {
		font-family: smile;
		font-style: normal;
		color: #ffab00;
		content: "\f006";
	}
	
/*две кнопки в подвале*/
.question:before {
	color:#ffffff;
	font-size: 1.2em;
	font-family: smile;
	content:"\f059";
}
.gear:before {
	color: #ffffff;
	font-size: 1.2em;
	font-family: smile;
	content:"\f013";
}

/*точка между меню пользователя*/
.pix_pix {
	background-color: rgba(152,152,152,0); 
	border-width: 0px;
	padding-right: 15px;
}
.pix_pix:after {
	color: #1f2635;
	font-size: 0.5em;
	font-family: smile;
	content:"\f111";
}

/*поиск по книгам - лупа*/
.button_search:after {
	font-family: smile;
	color: rgb(200, 204, 213);
	content: "\f002";
}