::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-opacity: 0; 
}
::-webkit-scrollbar-thumb{
	background-color: #ccd5e4;
	border-radius: 10px;
	border: 1px solid white;
}
.star_1:hover {
	cursor: pointer;
}
.star_05:hover {
	cursor: pointer;
}
.star_0:hover {
	cursor: pointer;
}